<div class="container">
  <%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
  <div class="mt-3">
    <% @restaurants.each do |restaurant| %>
      <h2><%= link_to restaurant.name, restaurant_path(restaurant), class:"text-decoration-none" %></h2>
      <p><%= restaurant.address %></p>
      <p class="border rounded"><%= restaurant.category %></p>
    <% end %>
  </div>
</div>
